<div th:fragment="top_navigation">
    <div class="inline-list">
        <ul>
            <li><a href="/showThumbnails/2015/12/"><h3>Dezember</h3></a></li>
            <li><a href="/showThumbnails/2015/11/"><h3>November</h3></a></li>
            <li><a href="/showThumbnails/2015/10/"><h3>Oktober</h3></a></li>
            <li><a href="/showThumbnails/2015/09/"><h3>September</h3></a></li>
            <li><a href="/showThumbnails/2015/08/"><h3>August</h3></a></li>
            <li><a href="/showThumbnails/2015/07/"><h3>Juli</h3></a></li>
            <li><a href="/showThumbnails/2015/06/"><h3>Juni</h3></a></li>
            <li><a href="/showThumbnails/2015/05/"><h3>Mai</h3></a></li>
            <li><a href="/showThumbnails/2015/04/"><h3>April</h3></a></li>
            <li><a href="/showThumbnails/2015/03/"><h3>M&auml;rz</h3></a></li>
            <li><a href="/showThumbnails/2015/02/"><h3>Februar</h3></a></li>
            <li><a href="/showThumbnails/2015/01/"><h3>Januar</h3></a></li>
        </ul>
    </div>
</div>

<div th:fragment="side_navigation">
    <ul>
        <li><a href='/'><h3>Home</h3></a></li>
        <li><a href='/showThumbnails/2016/'><h3>2016</h3></a></li>
        <li><a href='/showThumbnails/2015/'><h3>2015</h3></a></li>
        <li><a href='/showThumbnails/2014/'><h3>2014</h3></a></li>
        <li><a href='/showThumbnails/2013/'><h3>2013</h3></a></li>
        <li><a href='/showThumbnails/2012/'><h3>2012</h3></a></li>
        <li><a href='/showThumbnails/2011/'><h3>2011</h3></a></li>
        <li><a href='/showThumbnails/2010/'><h3>2010</h3></a></li>
        <li><a href='/showThumbnails/2009/'><h3>2009</h3></a></li>
        <li><a href='/showThumbnails/2008/'><h3>2008</h3></a></li>
        <li><a href='/showThumbnails/2007/'><h3>2007</h3></a></li>
    </ul>
</div>

